.juego-blanco {
    display: flex;
    align-content: center;
    background-color: #faf7ed;
    flex-wrap: wrap;
}
.imgjuego {
    width: 50%;
}
.textojuego {
    width: 50%;
}
.txt1 {
    margin-left: 8%;
    margin-top: 12%;
    font-size: 25px;
    margin-right: 10%;
    font-family: 'Lato', sans-serif;
}
.contenedor-encabezado {
    width: 100%;
    text-align: center;
    color: white;
}
header {
    background-color: black;
    padding: 5%;
    font-size: 60px;
    font-family: 'Press Start 2P', cursive;
}
body {
    margin: 0;
    background-color: #faf7ed;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline-block;
    width: 99%;
    text-align: center;
    margin-left: 0.5%;
    padding-top: 4px;
}
nav a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    background-color: #faf7ed;
    border: 1px solid black;
    border-radius: 5px;
}  
nav a:hover {
    background-color: black;
    color: #fff;
}
.imagen-qs {
    margin-top: 10%;
    margin-left: 25%;
    width: 400px;
}
h3 {
    line-height: 1.5;
}
@media screen and (max-width:768px) {
    header {
        font-size: 40px;
    }
    .juego-blanco {
        display: flex;
        flex-wrap: wrap;
    }
    .textojuego {
        width: 100%;
        padding-bottom: 30px;
    }
    .imagen-qs {
        margin-top: 10%;
        margin-left: 15%;
        width: 420px;
    }
}