<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>God of War</title>
    <link rel="stylesheet" type="text/css" href="./../css/style.videojocs.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" type="image/png" href="./img/.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="icon" href="../img/icono-videojuegos.png" type="image/x-icon">
</head>
<body>
  <nav>
    <ul>
      <li><a href="./vieojoc1.html">Star Wars Jedi: Survivor</a></li>
      <li><a href="./vieojoc2.html">Call of Duty: Modern Warfare 2</a></li>
      <li><a href="./vieojoc3.html">Hogwarts Legacy</a></li>
      <li><a href="./vieojoc4.html">God of War 4</a></li>
      <li><a href="./vieojoc5.html">Red Dead Redemption 2</a></li>
    </ul>
</nav>
    <div class="juego-blanco">
        <div class="imgjuego">
            <p class="txtjuego arriba">Trailer</p>
                <iframe src="https://www.youtube.com/embed/dK42JGgkoF8?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p class="txtjuego">Imagenes</p>
            <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../img/gow1.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../img/gow2.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../img/gow3.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../img/gow4.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Siguiente</span>
                </a>
            </div>   
        </div>
        <div class="textojuego">
            <h3 class="txt1">Disponible para PS4 y PC</h3>
            <h1 class="txt2">God of War 4</h1>
            <h3 class="txt1">19.99€</h3>
            <p class="txt1">Kratos ha dejado atrás su venganza contra los dioses del Olimpo y vive ahora como un hombre en los dominios de los dioses y monstruos nórdicos. En este mundo cruel e implacable debe luchar para sobrevivir… y enseñar a su hijo a hacerlo también. Aclamado reboot de la franquicia de videojuegos "God of War", inspirado por "The Last of Us" y centrado en su vertiente narrativa. Entre sus particularidades, está diseñado simulando un plano secuencia sin cortes.</p>
        </div>
    </div>
    <table>
        <thead>
          <tr>
            <th>Personaje</th>
            <th>Descripción</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Kratos</td>
            <td>Kratos es el protagonista principal de todos los juegos de la saga God of War. Hijo del dios Zeus y Calisto, una mujer mortal, Kratos nació en Esparta, una ciudad griega que se caracterizaba por ser un pueblo guerrero.</td>
          </tr>
          <tr>
            <td>Atreus</td>
            <td>Atreus es un semidiós adolescente, hijo de Kratos y la Gigante Laufey. Es conocido por los Gigantes y los dioses Aesir como "Loki".</td>
          </tr>
          <tr>
            <td>Faye</td>
            <td>Laufey, llamada Faye por sus seres queridos, fue una Gigante guerrera de Jötunheim. Segunda esposa de Kratos y madre de Atreus.</td>
          </tr>
          <tr>
            <td>Baldur</td>
            <td>Baldur es un personaje introducido en God of War (2018) como el antagonista principal, presentado en un comienzo como "El desconocido" (esp) o "El extraño" (latam). Baldur es un dios Aesir, hijo de Odín y Freya, y hermano de Thor.</td>
          </tr>
          <tr>
            <td>Freya</td>
            <td>Freya, la Bruja del Bosque, es una diosa Vanir desterrada. Antigua líder Vanir y antigua reina de las Valquirias. Ex-esposa de Odín, madre de Baldur y ex-reina de Asgard. Inicialmente aliada de Kratos y su hijo Atreus, se convierte en su enemiga tras el asesinato de su amado pero distanciado hijo.</td>
          </tr>
          <tr>
            <td>Mimir</td>
            <td>Mimir es el Dios de la Sabiduría y el Conocimiento, conocido popularmente por ser el hombre vivo más listo, es un ser de gran inteligencia que sirvió como consejero de Odín hasta que este le aprisionó en un árbol durante 109 inviernos.</td>
          </tr>
        </tbody>
      </table>  
</body>
</html>