<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Call of Duty: Modern Warfare 2</title>
    <link rel="stylesheet" type="text/css" href="./../css/style.videojocs.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" type="image/png" href="./img/.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="icon" href="../img/icono-videojuegos.png" type="image/x-icon">
</head>
<body>
  <nav>
    <ul>
        <li><a href="./vieojoc1.html">Star Wars Jedi: Survivor</a></li>
        <li><a href="./vieojoc2.html">Call of Duty: Modern Warfare 2</a></li>
        <li><a href="./vieojoc3.html">Hogwarts Legacy</a></li>
        <li><a href="./vieojoc4.html">God of War 4</a></li>
        <li><a href="./vieojoc5.html">Red Dead Redemption 2</a></li>
    </ul>
</nav>
    <div class="juego-blanco">
        <div class="imgjuego">
            <p class="txtjuego arriba">Trailer</p>
                <iframe src="https://www.youtube.com/embed/VWqqQUhzSDg?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p class="txtjuego">Imagenes</p>
            <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../img/cod1.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../img/cod2.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../img/cod3.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../img/cod4.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Siguiente</span>
                </a>
            </div>   
        </div>
        <div class="textojuego">
            <h3 class="txt1">Disponible para PS4, PS5, XBOX SERIES X y SERIES S, XBOX ONE y PC</h3>
            <h1 class="txt2">Call of Duty: Modern Warfare 2 (2022)</h1>
            <h3 class="txt1">69.99€</h3>
            <p class="txt1">Call of Duty: Modern Warfare II es la secuela del éxito en ventas de 2019 Modern Warfare. Con el regreso del icónico líder, el capitán John Price, el intrépido John "Soap" MacTavish, el experimentado sargento Kyle "Gaz" Garrick y el mismísimo lobo solitario, el favorito de los fans Simon "Ghost" Riley, sé testigo de lo que hace a la Task Force 141 (TF141) el legendario escuadrón que es hoy. La la fuerza operativa 141 se enfrenta a «su más grande amenaza» en una aventura a través del mundo que los llevará a cumplir misiones en Europa, Asia y las Américas. Tendrán nuevos aliados y contarán con el regreso de héroes que conocemos de anteriores juegos.
        </div>
    </div>
    <table>
        <thead>
          <tr>
            <th>Personaje</th>
            <th>Descripción</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Sargento John «Soap» Mactavish</td>
            <td>Escocés, ha formado parte de todo el arco argumental de los Call of Duty Modern Warfare 1, 2 y 3, tanto en el caso de los originales como en los nuevos de 2019 y este de 2022.</td>
          </tr>
          <tr>
            <td>Sargento Kyle «Gaz» Garrick</td>
            <td>Británico, este personaje apareció por vez primera en Call of Duty Modern Warfare en 2019 y tiene una skin que le homenajea en Warzone.</td>
          </tr>
          <tr>
            <td>Teniente Simon «Ghost» Riley</td>
            <td>Británico como en el caso de Gaz, también aparece en Call of Duty Modern Warfare 2, Call of Duty Ghost, Call of Duty Online, Call of Duty Heroes y Call of Duty Modern Warfare 2 Remastered, así que podemos considerar que es todo un veterano de la saga.</td>
          </tr>
          <tr>
            <td>Capitán John Price</td>
            <td>También británico como en el caso de Gaz y Ghost, ha participado en todos los Call of Duty Modern Warfare que han llegado al mercado, tanto el primero como los dos siguientes y, por lo tanto, también en el más reciente de 2019.</td>
          </tr>
          <tr>
            <td>Coronel Alejandro Vargas</td>
            <td>De este militar de las Fuerzas Especiales Mexicanas no encontramos referencias en el lore de Call of Duty por lo que se trata de la primera incorporación nunca vista antes a la Fuerza Operativa 141.</td>
          </tr>
        </tbody>
      </table>  
</body>
</html>