<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hogwarts Legacy</title>
    <link rel="stylesheet" type="text/css" href="./../css/style.videojocs.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" type="image/png" href="./img/.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="icon" href="../img/icono-videojuegos.png" type="image/x-icon">
</head>
<body>
  <nav>
    <ul>
      <li><a href="./vieojoc1.html">Star Wars Jedi: Survivor</a></li>
      <li><a href="./vieojoc2.html">Call of Duty: Modern Warfare 2</a></li>
      <li><a href="./vieojoc3.html">Hogwarts Legacy</a></li>
      <li><a href="./vieojoc4.html">God of War 4</a></li>
      <li><a href="./vieojoc5.html">Red Dead Redemption 2</a></li>
    </ul>
</nav>
    <div class="juego-blanco">
        <div class="imgjuego">
            <p class="txtjuego arriba">Trailer</p>
                <iframe src="https://www.youtube.com/embed/bzsB47aeYEc?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p class="txtjuego">Imagenes</p>
            <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../img/hogwarts1.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../img/hogwarts2.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../img/hogwarts3.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../img/hogwarts4.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Siguiente</span>
                </a>
            </div>   
        </div>
        <div class="textojuego">
            <h3 class="txt1">Disponible para PS4 PS5, XBOX SERIES X y SERIES S, XBOX ONE, Nintendo Switch y PC</h3>
            <h1 class="txt2">Hogwarts Legacy</h1>
            <h3 class="txt1">49.99€</h3>
            <p class="txt1">Finales del siglo XIX, un nuevo estudiante en Hogwarts descubre que posee la capacidad inusual para percibir y dominar la magia antigua, convirtiéndose en la clave para un viejo secreto que amenaza con desgarrar el mundo mágico.</p>
            <p class="txt1">Disfruta del Hogwarts del siglo XIX. Tu personaje es un alumno o alumna del famoso colegio que tiene la clave de un antiguo secreto que amenaza con destruir el mundo mágico. Ahora puedes tomar el control de la acción y ser el centro de tu propia aventura en el mundo mágico. El legado está en tus manos.</p>
        </div>
    </div>
    <table>
        <thead>
          <tr>
            <th>Personaje</th>
            <th>Descripción</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Phineas Nigellus Black</td>
            <td>Phineas Nigellus Black es el director del Hogwarts en esta línea temporal de Hogwarts Legacy. Como bien se puede ver por el apellido, es el tatarabuelo de Sirius Black y también se le conoce como el director menos popular de Hogwarts.</td>
          </tr>
          <tr>
            <td>Profesor Eleazar Fig</td>
            <td>Eleazar Fig es un respetado profesor del campus de Hogwarts, y desempeña un papel fundamental en la historia del personaje del jugador a lo largo del juego. Fig investiga los rumores de que los Goblins están planeando una rebelión y que el destino del Mundo Mágico está en juego.</td>
          </tr>
          <tr>
            <td>Ranrok</td>
            <td>Ranrok es uno de los principales antagonistas de Hogwarts Legacy. Se rumorea que lidera una rebelión de duendes contra toda la humanidad. Tiene habilidades mágicas propias, lo que le convierte en un enemigo formidable incluso para el hechicero más fuerte.</td>
          </tr>
          <tr>
            <td>Victor Rookwood</td>
            <td>Otra de las principales amenazas del juego, Victor Rookwood es un Mago Oscuro que se ha aliado temporalmente con Ranrok y los Goblins renegados. Aunque parece que trabajan por un objetivo común, su alianza dista mucho de ser estable.</td>
          </tr>
          <tr>
            <td>Deek</td>
            <td>Deek, un querido elfo de la casa que trabaja para mantener Hogwarts en funcionamiento, es la clave de uno de los sistemas más interesantes del juego.</td>
          </tr>
        </tbody>
      </table>  
</body>
</html>