<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hogwarts Legacy</title>
    <link rel="stylesheet" type="text/css" href="./../css/style.videojocs.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" type="image/png" href="./img/.png"/>
</head>
<body>
    <div class="juego-blanco">
        <div class="imgjuego">
            <!--Esto es la imagen-->
            <img type="png" src="img/.jpg" alt="imagen-1">
        </div>
        <div class="textojuego">
            <h3 class="txt1">Disponible para PS4 PS5, XBOX SERIES S/X, XBOX ONE, Nintendo Switch y PC</h3>
            <h1 class="txt2">Hogwarts Legacy</h1>
            <h3 class="txt1">59.99€</h3>
            <p class="txt1">Hogwarts Legacy es un juego de rol inmersivo en mundo abierto que se inspira de los libros de la saga Harry Potter. Disfruta del Hogwarts del siglo XIX. Tu personaje es un alumno o alumna del famoso colegio que tiene la clave de un antiguo secreto que amenaza con destruir el mundo mágico. Ahora puedes tomar el control de la acción y ser el centro de tu propia aventura en el mundo mágico. El legado está en tus manos.</p>
            <iframe src="https://www.youtube.com/embed/bzsB47aeYEc?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</body>
</html>