<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Red Dead Redemption</title>
    <link rel="stylesheet" type="text/css" href="./../css/style.videojocs.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="icon" type="image/png" href="./img/.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="icon" href="../img/icono-videojuegos.png" type="image/x-icon">
</head>
<body>
  <nav>
      <ul>
        <li><a href="./vieojoc1.html">Star Wars Jedi: Survivor</a></li>
        <li><a href="./vieojoc2.html">Call of Duty: Modern Warfare 2</a></li>
        <li><a href="./vieojoc3.html">Hogwarts Legacy</a></li>
        <li><a href="./vieojoc4.html">God of War 4</a></li>
        <li><a href="./vieojoc5.html">Red Dead Redemption 2</a></li>
      </ul>
</nav>
    <div class="juego-blanco">
        <div class="imgjuego">
            <p class="txtjuego arriba">Trailer</p>
                <iframe src="https://www.youtube.com/embed/gmA6MrX81z4?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p class="txtjuego">Imagenes</p>
            <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="../img/rdr1.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../img/rdr2.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../img/rdr3.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../img/rdr4.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#myCarousel" role="button" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#myCarousel" role="button" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Siguiente</span>
                </a>
            </div>
        </div>
        <div class="textojuego">
            <h3 class="txt1">Disponible para PS4, XBOX ONE y PC</h3>
            <h1 class="txt2">Red Dead Redemption 2</h1>
            <h3 class="txt1">24.99€</h3>
            <p class="txt1">América, 1899. El ocaso del Salvaje Oeste ha comenzado y las fuerzas de la ley dan caza a las últimas bandas de forajidos. Los que no se rinden o sucumben, son asesinados. Tras un desastroso atraco fallido en la ciudad de Blackwater, Arthur Morgan y la banda de Van der Linde se ven obligados a huir. Con agentes federales y los mejores cazarrecompensas de la nación pisándoles los talones, la banda deberá atracar, robar y luchar, para sobrevivir en su camino por el escabroso territorio del corazón de América. Mientras las divisiones internas aumentan y amenazan con separarlos a todos, Arthur deberá elegir entre sus propios ideales y la lealtad a la banda que lo vio crecer.</p>
        </div>
    </div>
    <table>
        <thead>
          <tr>
            <th>Personaje</th>
            <th>Descripción</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Dutch Van Der Linde</td>
            <td>Es el líder de una considerable banda de criminales. Idealista, anárquico, carismático, con mucha vida a sus espaldas y que ha comenzado a sentir la presión del mundo moderno que le invade.</td>
          </tr>
          <tr>
            <td>Hosea Matthews</td>
            <td>Un maestro estafador, caballero y ladrón. Hosea ha sido el amigo más cercano de Dutch y su mano derecha durante más de veinte años. Inteligente y astuto, su labia le permite conseguir cualquier cosa o salir de cualquier situación.</td>
          </tr>
          <tr>
            <td>Molly O'shea</td>
            <td>Una chica de Dublín que tiene el afecto de Dutch, al menos por el momento. Molly tiene demasiado miedo por por pasar una vida como fugitiva y eso acabará pasándole factura.</td>
          </tr>
          <tr>
            <td>Arthur Morgan</td>
            <td>Arthur es el compañero en el que más confia Dutch desde que era pequeño. La vida como forajido es la única que ha conocido. Agudo, frío y despiadado, pero con su propio sentido del honor. Un hombre que se encarga de que el trabajo se cumpla.</td>
          </tr>
          <tr>
            <td>Susan Grimshaw</td>
            <td>La jefa indiscutible y árbitra de la justicia en el campamento. Todo se habría derrumbado hace años sin Susan al cargo. Tenaz y con una voluntad de hierro, no cometerá ningún disparate.</td>
          </tr>
          <tr>
            <td>Leopold Strauss</td>
            <td>Originario de Austria, es responsable de mantener las cartillas de la banda y llevar a cabo sus préstamos de dinero. Un hombre serio, algo inestable y sin emociones, tiene todas las cualidades que se necesita para un prestamista.</td>
          </tr>
        </tbody>
      </table>  
</body>
</html>